<section class="section">
  <div class="container">
    <h1 class="title is-4">Reactive Form</h1>

    <div class="card">
      <div class="card-content">
        <form (ngSubmit)="save()" [formGroup]="customerForm">
          <div class="field">
            <label class="label" for="firstNameReactiveId">First Name</label>
            <div class="control">
              <input id="firstNameReactiveId" class="input" type="text" formControlName="firstName"
                [ngClass]="{'is-danger': (customerForm.get('firstName').touched || customerForm.get('firstName').dirty) && !customerForm.get('firstName').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('firstName').errors?.required">Please enter your first name.</span>
              <span *ngIf="!!customerForm.get('firstName').errors?.minlength">The first name must be at least
                3 characters.</span>
            </span>
          </div>

          <div class="field">
            <label class="label" for="lastNameReactiveId">Last Name</label>
            <div class="control">
              <input id="lastNameReactiveId" class="input" type="text" formControlName="lastName"
                [ngClass]="{'is-danger': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && !customerForm.get('lastName').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('lastName').errors?.required">Please enter your last name.</span>
              <span *ngIf="!!customerForm.get('lastName').errors?.maxlength">The last name must be less than 50
                characters.</span>
            </span>
          </div>

          <div formGroupName="emailGroup">
            <div class="field">
              <label class="label" for="emailReactiveId">Email</label>
              <div class="control">
                <input id="emailReactiveId" class="input" type="email" formControlName="email"
                  [ngClass]="{'is-danger': (customerForm.get('emailGroup.email').touched || customerForm.get('emailGroup.email').dirty) && !customerForm.get('emailGroup.email').valid}">
              </div>
              <span class="help is-danger">
                <span *ngIf="!!customerForm.get('emailGroup.email').errors?.required">Please enter your email
                  address.</span>
                <span *ngIf="!!customerForm.get('emailGroup.email').errors?.email">Please enter a valid email
                  address.</span>
              </span>
            </div>

            <div class="field">
              <label class="label" for="confirmEmailReactiveId">Confirm Email</label>
              <div class="control">
                <input id="confirmEmailReactiveId" class="input" type="email" formControlName="confirmEmail"
                  [ngClass]="{'is-danger': (customerForm.get('emailGroup.confirmEmail').touched || customerForm.get('emailGroup.confirmEmail').dirty) && !customerForm.get('emailGroup.confirmEmail').valid}">
              </div>
              <span class="help is-danger">
                <span *ngIf="!!customerForm.get('emailGroup.confirmEmail').errors?.required">
                  Please confirm your email address.
                </span>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label" for="phoneReactiveId">Phone</label>
            <div class="control">
              <input id="phoneReactiveId" class="input" type="tel" formControlName="phone"
                [ngClass]="{'is-danger': (customerForm.get('phone').touched || customerForm.get('phone').dirty) && !customerForm.get('phone').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('phone').errors?.required">Please enter your phone number.</span>
            </span>
          </div>

          <div class="field">
            <div class="field-label">
              <label class="label" style="text-align: start;">Send Notifications</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input type="radio" value="email" formControlName="notification" (click)="setNotification('email')">
                    Email
                  </label>
                  <label class="radio">
                    <input type="radio" value="text" formControlName="notification" (click)="setNotification('text')">
                    Text
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="ratingReactiveId">Rating</label>
            <div class="control">
              <input id="ratingReactiveId" class="input" type="number" formControlName="rating"
                [ngClass]="{'is-danger': (customerForm.get('rating').touched || customerForm.get('rating').dirty) && !customerForm.get('rating').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('rating').errors?.range">Please rate your experience from 1 to 5.</span>
            </span>
          </div>

          <div class=" field">
            <label class="checkbox" for="sendCatalogReactiveId" formControlName="sendCatalog">
              <input id="sendCatalogReactiveId" type="checkbox">
              Send me your catalog
            </label>
          </div>


          <!-- Send Catalog Section -->
          <div *ngIf="customer.sendCatalog" class="field">
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Address Type</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input id="addressType1ReactiveId" type="radio" value="home" [(ngModel)]="customer.addressType"
                        name="addressType"> Home
                    </label>
                    <label class="radio">
                      <input id="addressType2ReactiveId" type="radio" value="work" [(ngModel)]="customer.addressType"
                        name="addressType"> Work
                    </label>
                    <label class="radio">
                      <input id="addressType3ReactiveId" type="radio" value="other" [(ngModel)]="customer.addressType"
                        name="addressType"> Other
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="street1ReactiveId">Street Address 1</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="street1ReactiveId" type="text" placeholder="Street address"
                      [(ngModel)]="customer.street1" name="street1">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="street2ReactiveId">Street Address 2</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="street2ReactiveId" type="text" placeholder="Street address (second line)"
                      [(ngModel)]="customer.street2" name="street2">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="cityReactiveId">City, State, Zip Code</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="cityReactiveId" type="text" placeholder="City" [(ngModel)]="customer.city"
                      name="city">
                  </div>
                </div>
                <div class="field is-narrow">
                  <div class="select">
                    <select id="stateReactiveId" [(ngModel)]="customer.state" name="state">
                      <option value="" disabled selected hidden>Select a State...</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <input class="input" id="zipReactiveId" type="number" placeholder="Zip Code"
                      [(ngModel)]="customer.zip" name="zip">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <button class="button is-link control" type="submit"
              [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!customerForm.valid">Save</button>
            <button class="button is-light" type="button" (click)="populateTestData()">Test Data</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <br>Dirty: {{ customerForm.dirty }}
  <br>Touched: {{ customerForm.touched }}
  <br>Valid: {{ customerForm.valid }}
  <br>Value: {{ customerForm.value | json }}
</section>
