<section class="section">
  <div class="container">
    <h1 class="title is-4">Reactive Form</h1>

    <div class="card">
      <div class="card-content">
        <form (ngSubmit)="save()" [formGroup]="customerForm">
          <div class="field">
            <label class="label" for="firstNameReactiveId">First Name</label>
            <div class="control">
              <input id="firstNameReactiveId" class="input" type="text" formControlName="firstName"
                [ngClass]="{'is-danger': (customerForm.get('firstName').touched || customerForm.get('firstName').dirty) && !customerForm.get('firstName').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('firstName').errors?.required">Please enter your first name.</span>
              <span *ngIf="!!customerForm.get('firstName').errors?.minlength">The first name must be at least
                3 characters.</span>
            </span>
          </div>

          <div class="field">
            <label class="label" for="lastNameReactiveId">Last Name</label>
            <div class="control">
              <input id="lastNameReactiveId" class="input" type="text" formControlName="lastName"
                [ngClass]="{'is-danger': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && !customerForm.get('lastName').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('lastName').errors?.required">Please enter your last name.</span>
              <span *ngIf="!!customerForm.get('lastName').errors?.maxlength">The last name must be less than 50
                characters.</span>
            </span>
          </div>

          <div formGroupName="emailGroup">
            <div class="field">
              <label class="label" for="emailReactiveId">Email</label>
              <div class="control">
                <input id="emailReactiveId" class="input" type="email" formControlName="email"
                  [ngClass]="{'is-danger': emailMessage}">
              </div>
              <span class="help is-danger">
                {{ emailMessage }}
              </span>
            </div>

            <div class="field">
              <label class="label" for="confirmEmailReactiveId">Confirm Email</label>
              <div class="control">
                <input id="confirmEmailReactiveId" class="input" type="email" formControlName="confirmEmail"
                  [ngClass]="{'is-danger': customerForm.get('emailGroup').errors ||
                  ((customerForm.get('emailGroup.confirmEmail').touched || customerForm.get('emailGroup.confirmEmail').dirty) && !customerForm.get('emailGroup.confirmEmail').valid)}">
              </div>
              <span class="help is-danger">
                <span *ngIf="!!customerForm.get('emailGroup.confirmEmail').errors?.required">
                  Please confirm your email address.
                </span>
                <span *ngIf="!!customerForm.get('emailGroup').errors?.match">
                  The confirmation does not match the email address.
                </span>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label" for="phoneReactiveId">Phone</label>
            <div class="control">
              <input id="phoneReactiveId" class="input" type="tel" formControlName="phone"
                [ngClass]="{'is-danger': (customerForm.get('phone').touched || customerForm.get('phone').dirty) && !customerForm.get('phone').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('phone').errors?.required">Please enter your phone number.</span>
            </span>
          </div>

          <div class="field">
            <div class="field-label">
              <label class="label" style="text-align: start;">Send Notifications</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <label class="radio">
                    <input type="radio" value="email" formControlName="notification">
                    Email
                  </label>
                  <label class="radio">
                    <input type="radio" value="text" formControlName="notification">
                    Text
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="ratingReactiveId">Rating</label>
            <div class="control">
              <input id="ratingReactiveId" class="input" type="number" formControlName="rating"
                [ngClass]="{'is-danger': (customerForm.get('rating').touched || customerForm.get('rating').dirty) && !customerForm.get('rating').valid}">
            </div>
            <span class="help is-danger">
              <span *ngIf="!!customerForm.get('rating').errors?.range">Please rate your experience from 1 to 5.</span>
            </span>
          </div>

          <div class="field is-grouped">
            <button class="button is-link control" type="submit"
              [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!customerForm.valid">Save</button>
            <button class="button is-light" type="button" (click)="populateTestData()">Test Data</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <br>Dirty: {{ customerForm.dirty }}
  <br>Touched: {{ customerForm.touched }}
  <br>Valid: {{ customerForm.valid }}
  <br>Value: {{ customerForm.value | json }}
</section>
