<section class="section">
  <div class="container">
    <h1 class="title is-4">Template-driven Form</h1>

    <div class="card">
      <div class="card-content">
        <form #signupForm="ngForm" (ngSubmit)="save(signupForm)">
          <div class="field">
            <label class="label" for="firstNameId">First Name</label>
            <div class="control">
              <input id="firstNameId" class="input" type="text" name="firstName" [(ngModel)]="customer.firstName"
                #firstNameVar="ngModel"
                [ngClass]="{'is-danger': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid}" required>
            </div>
          </div>

          <div class="field">
            <label class="label" for="lastNameId">Last Name</label>
            <div class="control">
              <input id="lastNameId" class="input" type="text" name="lastName" [(ngModel)]="customer.lastName"
                #lastNameVar="ngModel"
                [ngClass]="{'is-danger': (lastNameVar.touched || lastNameVar.dirty) && !lastNameVar.valid}" required>
            </div>
          </div>

          <div class="field">
            <label class="label" for="emailId">Email</label>
            <div class="control">
              <input id="emailId" class="input" type="email" name="email" [(ngModel)]="customer.email"
                #emailVar="ngModel" [ngClass]="{'is-danger': (emailVar.touched || emailVar.dirty) && !emailVar.valid}"
                required>
            </div>
          </div>

          <div class="field">
            <label class="checkbox" for="sendCatalogId">
              <input id="sendCatalogId" type="checkbox" [(ngModel)]="customer.sendCatalog" name="sendCatalog">
              Send me your catalog
            </label>
          </div>

          <div class="field">
            <button class="button is-link">Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <br>Dirty: {{ signupForm.dirty }}
  <br>Touched: {{ signupForm.touched }}
  <br>Valid: {{ signupForm.valid }}
  <br>Value: {{ signupForm.value | json }}
</section>
