<section class="section">
  <div class="container">
    <h1 class="title is-4">Template-driven Form</h1>

    <div class="card">
      <div class="card-content">
        <form #signupForm="ngForm" (ngSubmit)="save(signupForm)">
          <div class="field">
            <label class="label" for="firstNameId">First Name</label>
            <div class="control">
              <input id="firstNameId" class="input" type="text" name="firstName" [(ngModel)]="customer.firstName"
                #firstNameVar="ngModel"
                [ngClass]="{'is-danger': (firstNameVar.touched || firstNameVar.dirty) && !firstNameVar.valid}"
                minlength="3" required>
            </div>
            <span class="help is-danger">
              <span *ngIf="!!firstNameVar.errors?.required">Please enter your first name.</span>
              <span *ngIf="!!firstNameVar.errors?.minlength">The first name must be at least 3 characters.</span>
            </span>
          </div>

          <div class="field">
            <label class="label" for="lastNameId">Last Name</label>
            <div class="control">
              <input id="lastNameId" class="input" type="text" name="lastName" [(ngModel)]="customer.lastName"
                #lastNameVar="ngModel"
                [ngClass]="{'is-danger': (lastNameVar.touched || lastNameVar.dirty) && !lastNameVar.valid}"
                maxlength="50" required>
            </div>
            <span class="help is-danger">
              <span *ngIf="!!lastNameVar.errors?.required">Please enter your last name.</span>
              <span *ngIf="!!lastNameVar.errors?.maxlength">The last name must be less than 50 characters.</span>
            </span>
          </div>

          <div class="field">
            <label class="label" for="emailId">Email</label>
            <div class="control">
              <input id="emailId" class="input" type="email" name="email" [(ngModel)]="customer.email"
                #emailVar="ngModel" [ngClass]="{'is-danger': (emailVar.touched || emailVar.dirty) && !emailVar.valid}"
                required email>
            </div>
            <span class="help is-danger">
              <span *ngIf="!!emailVar.errors?.required">Please enter a your email address.</span>
              <span *ngIf="!!emailVar.errors?.email">Please enter a valid email address.</span>
            </span>
          </div>

          <div class="field">
            <label class="checkbox" for="sendCatalogId">
              <input id="sendCatalogId" type="checkbox" [(ngModel)]="customer.sendCatalog" name="sendCatalog">
              Send me your catalog
            </label>
          </div>

          <!-- Send Catalog Section -->
          <div *ngIf="customer.sendCatalog" class="field">
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Address Type</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input id="addressType1Id" type="radio" value="home" [(ngModel)]="customer.addressType"
                        name="addressType"> Home
                    </label>
                    <label class="radio">
                      <input id="addressType2Id" type="radio" value="work" [(ngModel)]="customer.addressType"
                        name="addressType"> Work
                    </label>
                    <label class="radio">
                      <input id="addressType3Id" type="radio" value="other" [(ngModel)]="customer.addressType"
                        name="addressType"> Other
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="street1Id">Street Address 1</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="street1Id" type="text" placeholder="Street address"
                      [(ngModel)]="customer.street1" name="street1">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="street2Id">Street Address 2</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="street2Id" type="text" placeholder="Street address (second line)"
                      [(ngModel)]="customer.street2" name="street2">
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label" for="cityId">City, State, Zip Code</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" id="cityId" type="text" placeholder="City" [(ngModel)]="customer.city"
                      name="city">
                  </div>
                </div>
                <div class="field is-narrow">
                  <div class="select">
                    <select id="stateId" [(ngModel)]="customer.state" name="state">
                      <option value="" disabled selected hidden>Select a State...</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                    </select>
                  </div>
                </div>
                <div class="field is-narrow">
                  <div class="control">
                    <input class="input" id="zipId" type="number" placeholder="Zip Code" [(ngModel)]="customer.zip"
                      name="zip">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <button class="button is-link" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <br>Dirty: {{ signupForm.dirty }}
  <br>Touched: {{ signupForm.touched }}
  <br>Valid: {{ signupForm.valid }}
  <br>Value: {{ signupForm.value | json }}
</section>
